* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.hamburguesa{
    display: none;
}
#wa{
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 25px;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    position: fixed;
    top: 90%;
    right: 10px;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid hotpink;

}
#wa:hover{
    background-color: whitesmoke;
    color: hotpink;
}
/* .iconW{
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 9999999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 1px solid hotpink;
}
#iconWT{
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 15px;
    color: hotpink;
} */
body {
    font-family: 'Mandali', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid pink;
    /* color: rgb(253, 54, 213); */
    color: rgba(0, 0, 0, 0.689);
    background-color: aliceblue;
    position: relative;
    top: 20px;
    margin: 0px 20px;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 0px 5px 20px rgba(255, 192, 203, 0.572);
}

#Dulces {
    color: rgba(255, 82, 220, 0.7);
}

#menu {
    display: flex;
    justify-content: space-around;
}

#menu>li:hover {
    color: rgba(255, 82, 220, 0.7) !important;
    cursor: pointer;
}

#portada {
    /* background-color: rgb(250, 219, 216); */
    background-color: rgba(247, 156, 225, 0.564);
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#modeloAlgodon {
    position: relative;
    height: 100%;
}

#modeloAlgodon>img {
    max-width: 100%;
    height: 100%;
    filter: drop-shadow(16px 16px 20px rgba(166, 0, 255, 0.749))invert(9%);
    position: relative;
    z-index: 3;

}

/* #modeloAlgodon::before{
    content: "Dulces Para Tus Fiestas";
    position: absolute;
    top: -300px;
    left: 120%;
    display: flex;
    z-index: 3;
    font-size: 35px;
} */
#portada::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 800px;
    background-color: rgb(232, 166, 245);
    transform: matrix(1, 2, 3, 4, 5, 6);
    top: -50%;
    left: 10%;
}

#portada::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 800px;
    background-color: rgb(167, 115, 219);
    transform: matrix(1, 2, 3, 4, 5, 6);
    top: -50%;
    left: -20%;
    z-index: -3;
}

#pipoca {
    position: absolute;
    top: 0;
    left: -20%;
    z-index: 2;
}

#pipoca>img {
    /* position: relative;
    top: -100%;
    left: 30%; */
    width: 800px;
    height: 800px;
}

#portada>h1 {
    position: absolute;
    top: 35%;
    left: 52%;
    color: aliceblue;
}

#manzana,
#azucar {
    color: hotpink;
}

#whatsapp {
    position: absolute;
    top: 65%;
    left: 52%;
    padding: 20px 30px;
    background-color: rgba(240, 248, 255, 0.775);
    border-radius: 35px;
    text-decoration: none;
    font-size: 25px;
    border: 1px hotpink solid;
    color: aliceblue;
    background-color: hotpink;
}

#whatsapp:hover {
    background-color: aliceblue;
    border: 1px hotpink solid;
    color: hotpink;
}

/* pipocas */
#Spipocas {
    width: 100%;
    height: 100vh !important;
    background-color: plum;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: grid;
    grid-template-columns: auto 1fr;
    place-items: center; */
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    background-image: linear-gradient(to left,pink,rgba(221, 160, 221, 0.871), plum);
}



#Spipocas>p {
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
    color: azure;
}
#Spipocas>p span{
    color: rgb(239, 1, 120);

}


.caja {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.306));

    width: 500px;
    height: 500px;
    border-radius: 50%;
    animation: circulo 10s linear infinite alternate;
    text-align: center;
    background-image: url(img/salada2v.png);
    background-size: cover;
    /* Ajusta el tamaño de la imagen de fondo para cubrir todo el cuerpo */
    background-position: center center;
    /* Centra la imagen de fondo horizontal y verticalmente */
    background-repeat: no-repeat;
}

@keyframes circulo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 
media query mobil */
@media (max-width: 768px) {
    #portada{
        position: relative;
        overflow: hidden;
    }
    #pipoca, #portada > h1{
        display: none;
    }
    #modeloAlgodon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(img/modeloV2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #modeloAlgodon > img{
        display: none;
    }
    #modeloAlgodon::before{
        content:  "";
        position: absolute;
        background-image: url(img/modeloV2.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 5555555555;
    }
    
    #menu{
        display: none;
    }

    /* otros */
    .nada {
        display: none;
    }

    .caja {
        animation: chico 2s ease-in-out forwards, circulo 10s linear 2s infinite alternate;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.302));
    }
    #Spipocas{
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: auto;
        background-image: linear-gradient(pink,rgba(221, 160, 221, 0.871), plum);
    }
   
    #Spipocas > p , .caja {
        text-align: center;
        margin-top: 25px;
        font-size: 25px;
        z-index: 2;
    }
    #Spipocas > p::after{
        display: inline-block;
        content: "";
    }
    .nada{
        display: block;
    }
    .nada::before{
        display: block;
        margin-top: 25px;
        /* content: "No te puede faltar para\A tus eventos pidelos  ahora"; */

        content: "No te puede faltar para tus eventos pidelos  ahora";
        /* white-space: pre; */
        z-index: 2;
    }
   
    
    @keyframes chico {
    

        100% {

            width: 350px;
            height: 350px;
        }
    }
    /* objetivos */
    .objetivos{
        flex-direction: column;
    }
}


/* 
Objetivos */
#valores{
    background-color: rgb(255, 192, 203);
    color:rgb(199, 43, 121);
    text-align: center;
}
.objetivos{
    width: 100%;
    background-color: rgb(255, 192, 203);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.objetivos > div{
    height: 200px;
    background-color: rgba(255, 192, 203, 0.851);
    border-radius: 10px;
    margin: 10px 0px;
    padding: 15px 25px;
    
}

.objetivos span{
    font-size: 100px;
    padding-top: 30px;
    color: rgba(255, 105, 180, 0.867);
}
.objetivos p{
    margin-top: 20px;
    color: rgb(239, 1, 120);
    font-weight: 600;
}

.tiempo:hover span{
    cursor: pointer;
   animation: tiempo 4s linear infinite alternate;
}
@keyframes tiempo{
    10%{
        transform: rotate(-45deg);
    }
    25%{
        transform: rotate(0deg);
        translate: 20% 0;
    }
    50%{
        translate: 150%;
    }
}

.security:hover span{
    cursor: pointer;
    animation :security 2.5s linear infinite ;
}
@keyframes security{
    50%{
        transform: scaleX(-1);

    }
    100%{
        transform: scaleX(1);
    }
}
.higiene:hover span{
    animation: higiene 3s ease-in-out infinite ;
}
@keyframes higiene{
    0%, 100%{
        translate: 0 0;
    }
    50%{
        translate: 0% -40%;
    }
}

footer{
    width: 100%;
    overflow: hidden;
}
.wave{
    width: 100%;
    height: 400px;
    background-color: rgba(255, 0, 0, 0.265);
    animation: wave 6s ease-in-out infinite;
}
@keyframes wave{
}